In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("world_economics.csv")
df

,name,currency,capital,languages,latitude,longitude,area,region,subregion,borders,GDP,GDP Growth,Interest Rate,Inflation Rate,Jobless Rate,Gov. Budget,Debt/GDP,Current Account,Population
0,Tunisia,Tunisian dinar,Tunis,Arabic,34.000000,9.000000,163610.0,Africa,Northern Africa,"['DZA', 'LBY']",53,1.80,7.50,5.30,15.70,-6.6,79.8,-2.7,11.89
1,Vietnam,Vietnamese đồng,Hanoi,Vietnamese,16.166667,107.833333,331212.0,Asia,South-Eastern Asia,"['KHM', 'CHN', 'LAO']",476,6.88,4.50,3.19,2.24,-4.0,32.9,6.1,101.30
2,Ecuador,United States dollar,Quito,Spanish,-2.000000,-77.500000,276841.0,Americas,South America,"['COL', 'PER']",125,3.46,8.50,0.72,4.50,-1.9,50.6,2.8,17.97
3,Puerto Rico,United States dollar,San Juan,English,18.250000,-66.500000,8870.0,Americas,Caribbean,NaN,126,NaN,NaN,1.20,5.70,NaN,NaN,NaN,3.20
4,United States,United States dollar,"Washington, D.C.",English,38.000000,-97.000000,9372610.0,Americas,North America,"['CAN', 'MEX']",29185,3.00,4.50,2.70,4.20,-6.4,124.3,-3.9,341.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,New Caledonia,CFP franc,Nouméa,French,-21.500000,165.500000,18575.0,Oceania,Melanesia,NaN,10,NaN,2.00,0.80,11.20,NaN,NaN,NaN,0.29
169,Kosovo,Euro,Pristina,Albanian,42.666667,21.166667,10908.0,Europe,Southeast Europe,"['ALB', 'MKD', 'MNE', 'SRB']",11,NaN,NaN,4.30,10.80,0.2,16.9,-9.0,1.60
170,Malaysia,Malaysian ringgit,Kuala Lumpur,English,2.500000,112.500000,330803.0,Asia,South-Eastern Asia,"['BRN', 'IDN', 'THA']",422,2.10,2.75,1.20,3.00,-4.1,70.4,1.7,34.10
171,Fiji,Fijian dollar,Suva,English,-17.713400,178.065000,18272.0,Oceania,Melanesia,NaN,6,NaN,0.25,-0.40,4.30,-3.4,78.3,-8.7,0.93
172,Jamaica,Jamaican dollar,Kingston,English,18.250000,-77.500000,10991.0,Americas,Caribbean,NaN,20,0.80,5.75,3.30,3.30,-1.0,67.9,1.3,2.82

In [9]:
print(df.columns)

Index(['name', 'currency', 'capital', 'languages', 'latitude', 'longitude',
       'area', 'region', 'subregion', 'borders', 'GDP', 'GDP Growth',
       'Interest Rate', 'Inflation Rate', 'Jobless Rate', 'Gov. Budget',
       'Debt/GDP', 'Current Account', 'Population'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             173 non-null    object
 1   currency         173 non-null    object
 2   capital          172 non-null    object
 3   languages        173 non-null    object
 4   latitude         173 non-null    float64
 5   longitude        173 non-null    float64
 6   area             173 non-null    float64
 7   region           173 non-null    object
 8   subregion        173 non-null    object
 9   borders          149 non-null    object
 10  GDP              173 non-null    int64
 11  GDP Growth       101 non-null    float64
 12  Interest Rate    162 non-null    float64
 13  Inflation Rate   172 non-null    float64
 14  Jobless Rate     171 non-null    float64
 15  Gov. Budget      166 non-null    float64
 16  Debt/GDP         165 non-null    float64
 17  Current Account  167 non-null    float64
 18  Population       173 non-null    float64
dtypes: float64(11), int64(1), object(7)
memory usage: 25.8+ KB

In [13]:
df.duplicated().sum()

0

In [15]:
df.isna().sum()

name                0
currency            0
capital             1
languages           0
latitude            0
longitude           0
area                0
region              0
subregion           0
borders            24
GDP                 0
GDP Growth         72
Interest Rate      11
Inflation Rate      1
Jobless Rate        2
Gov. Budget         7
Debt/GDP            8
Current Account     6
Population          0
dtype: int64

In [17]:
df[df['capital'].isnull()]

,name,currency,capital,languages,latitude,longitude,area,region,subregion,borders,GDP,GDP Growth,Interest Rate,Inflation Rate,Jobless Rate,Gov. Budget,Debt/GDP,Current Account,Population
166,Macau,Macanese pataca,NaN,Portuguese,22.166667,113.55,30.0,Asia,Eastern Asia,['CHN'],50,NaN,4.75,0.12,1.9,NaN,NaN,31.4,0.69

In [47]:
df[df['Jobless Rate'].isnull()]

,name,currency,capital,languages,latitude,longitude,area,region,subregion,borders,GDP,GDP Growth,Interest Rate,Inflation Rate,Jobless Rate,Gov. Budget,Debt/GDP,Current Account,Population
47,Somalia,Somali shilling,Mogadishu,Arabic,10.000000,49.0,637657.00,Africa,Eastern Africa,"['DJI', 'ETH', 'KEN']",12,NaN,NaN,4.4,NaN,NaN,NaN,NaN,19.01
116,Monaco,Euro,Monaco,French,43.733333,7.4,2.02,Europe,Western Europe,['FRA'],10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.04

In [39]:
df[df['GDP Growth'].isnull()]

,name,currency,capital,languages,latitude,longitude,area,region,subregion,borders,GDP,GDP Growth,Interest Rate,Inflation Rate,Jobless Rate,Gov. Budget,Debt/GDP,Current Account,Population
3,Puerto Rico,United States dollar,San Juan,English,18.250000,-66.500000,8870.0,Americas,Caribbean,NaN,126,NaN,NaN,1.20,5.7,NaN,NaN,NaN,3.20
7,Myanmar,Burmese kyat,Naypyidaw,Burmese,22.000000,98.000000,676578.0,Asia,South-Eastern Asia,"['BGD', 'CHN', 'IND', 'LAO', 'THA']",74,NaN,9.00,28.58,3.0,-5.7,61.30,-5.5,54.50
9,Afghanistan,Afghan afghani,Kabul,Dari,33.000000,65.000000,652230.0,Asia,Southern Asia,"['IRN', 'PAK', 'TKM', 'UZB', 'TJK', 'CHN']",17,NaN,14.94,0.20,13.3,-4.8,8.30,-17.3,35.70
12,Bhutan,Bhutanese ngultrum,Thimphu,Dzongkha,27.500000,90.500000,38394.0,Asia,Southern Asia,"['CHN', 'IND']",3,NaN,6.38,3.65,3.6,-0.2,107.78,-21.7,0.78
15,Nepal,Nepalese rupee,Kathmandu,Nepali,28.000000,84.000000,147181.0,Asia,Southern Asia,"['CHN', 'IND']",43,NaN,6.00,2.72,10.7,-9.0,42.60,5.2,29.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Gabon,Central African CFA franc,Libreville,French,-1.000000,11.750000,267668.0,Africa,Middle Africa,"['CMR', 'COG', 'GNQ']",21,NaN,4.50,0.70,20.1,-3.0,73.40,5.1,2.54
166,Macau,Macanese pataca,NaN,Portuguese,22.166667,113.550000,30.0,Asia,Eastern Asia,['CHN'],50,NaN,4.75,0.12,1.9,NaN,NaN,31.4,0.69
168,New Caledonia,CFP franc,Nouméa,French,-21.500000,165.500000,18575.0,Oceania,Melanesia,NaN,10,NaN,2.00,0.80,11.2,NaN,NaN,NaN,0.29
169,Kosovo,Euro,Pristina,Albanian,42.666667,21.166667,10908.0,Europe,Southeast Europe,"['ALB', 'MKD', 'MNE', 'SRB']",11,NaN,NaN,4.30,10.8,0.2,16.90,-9.0,1.60
171,Fiji,Fijian dollar,Suva,English,-17.713400,178.065000,18272.0,Oceania,Melanesia,NaN,6,NaN,0.25,-0.40,4.3,-3.4,78.30,-8.7,0.93

In [53]:
missing_gdp = df[df['GDP Growth'].isnull()]
missing_gdp_by_region = missing_gdp['region'].value_counts()
print(missing_gdp_by_region)

region
Africa      30
Asia        24
Americas    10
Europe       5
Oceania      3
Name: count, dtype: int64

In [55]:
df['GDP Growth'] = df.groupby('region')['GDP Growth'].transform(lambda x: x.fillna(x.mean()))
print(df['GDP Growth'].isnull().sum())

0

In [79]:
df

,name,currency,capital,languages,latitude,longitude,area,region,subregion,borders,GDP,GDP Growth,Interest Rate,Inflation Rate,Jobless Rate,Gov. Budget,Debt/GDP,Current Account,Population
0,Tunisia,Tunisian dinar,Tunis,Arabic,34.000000,9.000000,163610.0,Africa,Northern Africa,"['DZA', 'LBY']",53,1.800000,7.50,5.30,15.70,-6.6,79.8,-2.7,11.89
1,Vietnam,Vietnamese đồng,Hanoi,Vietnamese,16.166667,107.833333,331212.0,Asia,South-Eastern Asia,"['KHM', 'CHN', 'LAO']",476,6.880000,4.50,3.19,2.24,-4.0,32.9,6.1,101.30
2,Ecuador,United States dollar,Quito,Spanish,-2.000000,-77.500000,276841.0,Americas,South America,"['COL', 'PER']",125,3.460000,8.50,0.72,4.50,-1.9,50.6,2.8,17.97
3,Puerto Rico,United States dollar,San Juan,English,18.250000,-66.500000,8870.0,Americas,Caribbean,0,126,0.187895,NaN,1.20,5.70,NaN,NaN,NaN,3.20
4,United States,United States dollar,"Washington, D.C.",English,38.000000,-97.000000,9372610.0,Americas,North America,"['CAN', 'MEX']",29185,3.000000,4.50,2.70,4.20,-6.4,124.3,-3.9,341.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,New Caledonia,CFP franc,Nouméa,French,-21.500000,165.500000,18575.0,Oceania,Melanesia,0,10,0.500000,2.00,0.80,11.20,NaN,NaN,NaN,0.29
169,Kosovo,Euro,Pristina,Albanian,42.666667,21.166667,10908.0,Europe,Southeast Europe,"['ALB', 'MKD', 'MNE', 'SRB']",11,0.350000,NaN,4.30,10.80,0.2,16.9,-9.0,1.60
170,Malaysia,Malaysian ringgit,Kuala Lumpur,English,2.500000,112.500000,330803.0,Asia,South-Eastern Asia,"['BRN', 'IDN', 'THA']",422,2.100000,2.75,1.20,3.00,-4.1,70.4,1.7,34.10
171,Fiji,Fijian dollar,Suva,English,-17.713400,178.065000,18272.0,Oceania,Melanesia,0,6,0.500000,0.25,-0.40,4.30,-3.4,78.3,-8.7,0.93
172,Jamaica,Jamaican dollar,Kingston,English,18.250000,-77.500000,10991.0,Americas,Caribbean,0,20,0.800000,5.75,3.30,3.30,-1.0,67.9,1.3,2.82

In [97]:
df.isna().sum()

name               0
currency           0
capital            1
languages          0
latitude           0
longitude          0
area               0
region             0
subregion          0
borders            0
GDP                0
GDP Growth         0
Interest Rate      0
Inflation Rate     1
Jobless Rate       2
Gov. Budget        7
Debt/GDP           8
Current Account    6
Population         0
dtype: int64

In [71]:
df[df['borders'].isnull()]

,name,currency,capital,languages,latitude,longitude,area,region,subregion,borders,GDP,GDP Growth,Interest Rate,Inflation Rate,Jobless Rate,Gov. Budget,Debt/GDP,Current Account,Population
3,Puerto Rico,United States dollar,San Juan,English,18.250000,-66.500000,8870.0,Americas,Caribbean,NaN,126,0.187895,NaN,1.20,5.70,NaN,NaN,NaN,3.20
13,Malta,Euro,Valletta,English,35.937500,14.375400,316.0,Europe,Southern Europe,NaN,24,2.100000,2.15,2.50,2.70,-3.7,47.4,5.7,0.57
34,Philippines,Philippine peso,Manila,English,13.000000,122.000000,342353.0,Asia,South-Eastern Asia,NaN,462,1.500000,5.25,0.90,3.70,-5.7,60.7,-3.8,112.90
46,New Zealand,New Zealand dollar,Wellington,English,-41.000000,174.000000,270467.0,Oceania,Australia and New Zealand,NaN,260,0.800000,3.00,2.70,5.20,-3.1,45.2,-5.7,5.36
54,Maldives,Maldivian rufiyaa,Malé,Maldivian,3.250000,73.000000,300.0,Asia,Southern Asia,NaN,7,1.990417,7.00,3.80,4.60,-12.5,62.4,-20.4,0.53
68,Cuba,Cuban convertible peso,Havana,Spanish,21.500000,-80.000000,109884.0,Americas,Caribbean,NaN,107,0.187895,2.25,14.37,1.50,-11.1,119.0,-0.5,9.75
70,Mauritius,Mauritian rupee,Port Louis,English,-20.283333,57.550000,2040.0,Africa,Eastern Africa,NaN,15,0.900000,4.50,5.20,6.00,-5.7,82.1,-4.2,1.26
74,Cape Verde,Cape Verdean escudo,Praia,Portuguese,16.538800,-23.041800,4033.0,Africa,Western Africa,NaN,3,-3.000000,2.50,2.70,11.90,-2.9,109.2,-5.8,0.59
78,Taiwan,New Taiwan dollar,Taipei,Chinese,23.500000,121.000000,36193.0,Asia,Eastern Asia,NaN,757,3.050000,2.00,1.54,3.33,0.4,28.2,15.7,23.40
96,Comoros,Comorian franc,Moroni,Arabic,-12.166667,44.250000,1862.0,Africa,Eastern Africa,NaN,2,2.387000,3.08,4.40,3.90,-3.2,28.4,-3.5,0.87
106,Cyprus,Euro,Nicosia,Greek,35.000000,33.000000,9251.0,Europe,Southern Europe,NaN,36,0.500000,2.15,-0.90,3.80,4.3,65.0,-8.4,0.98
109,Singapore,Singapore dollar,Singapore,English,1.366667,103.800000,710.0,Asia,South-Eastern Asia,NaN,547,1.400000,1.51,0.80,2.10,-1.6,173.1,17.5,6.04
118,Seychelles,Seychellois rupee,Victoria,Seychellois Creole,-4.583333,55.666667,452.0,Africa,Eastern Africa,NaN,2,2.387000,1.75,0.64,3.20,0.1,61.0,-7.5,0.10
135,Madagascar,Malagasy ariary,Antananarivo,French,-20.000000,47.000000,587041.0,Africa,Eastern Africa,NaN,17,2.387000,12.00,8.10,3.00,-3.8,38.8,-4.5,31.96
139,Bahrain,Bahraini dinar,Manama,Arabic,26.000000,50.550000,765.0,Asia,Western Asia,NaN,48,-7.570000,5.25,-0.40,6.30,-5.6,134.0,5.3,1.59
144,Australia,Australian dollar,Canberra,English,-27.000000,133.000000,7692024.0,Oceania,Australia and New Zealand,NaN,1752,0.200000,3.60,2.10,4.20,0.6,43.8,-2.1,27.40
148,Bahamas,Bahamian dollar,Nassau,English,25.034300,-77.396300,13943.0,Americas,Caribbean,NaN,16,0.187895,4.00,-0.40,9.40,-1.3,81.5,-7.9,0.41
151,Iceland,Icelandic króna,Reykjavik,Icelandic,65.000000,-18.000000,103000.0,Europe,Northern Europe,NaN,33,2.700000,7.50,4.00,2.80,-3.4,59.3,-2.7,0.39
152,Japan,Japanese yen,Tokyo,Japanese,36.000000,138.000000,377930.0,Asia,Eastern Asia,NaN,4026,0.300000,0.50,3.10,2.50,-2.3,236.7,4.7,120.65
161,Cayman Islands,Cayman Islands dollar,George Town,English,19.313300,-81.254600,264.0,Americas,Caribbean,NaN,7,0.187895,NaN,1.80,2.80,-1.1,7.6,-7.7,0.09
164,Trinidad and Tobago,Trinidad and Tobago dollar,Port of Spain,English,10.691800,-61.222500,5130.0,Americas,Caribbean,NaN,26,2.600000,3.50,1.50,4.90,-6.7,56.1,6.6,1.37
168,New Caledonia,CFP franc,Nouméa,French,-21.500000,165.500000,18575.0,Oceania,Melanesia,NaN,10,0.500000,2.00,0.80,11.20,NaN,NaN,NaN,0.29
171,Fiji,Fijian dollar,Suva,English,-17.713400,178.065000,18272.0,Oceania,Melanesia,NaN,6,0.500000,0.25,-0.40,4.30,-3.4,78.3,-8.7,0.93
172,Jamaica,Jamaican dollar,Kingston,English,18.250000,-77.500000,10991.0,Americas,Caribbean,NaN,20,0.800000,5.75,3.30,3.30,-1.0,67.9,1.3,2.82

In [73]:
missing_botrder = df[df['borders'].isnull()]
print(missing_botrder['name'])

3              Puerto Rico
13                   Malta
34             Philippines
46             New Zealand
54                Maldives
68                    Cuba
70               Mauritius
74              Cape Verde
78                  Taiwan
96                 Comoros
106                 Cyprus
109              Singapore
118             Seychelles
135             Madagascar
139                Bahrain
144              Australia
148                Bahamas
151                Iceland
152                  Japan
161         Cayman Islands
164    Trinidad and Tobago
168          New Caledonia
171                   Fiji
172                Jamaica
Name: name, dtype: object

In [77]:
df['borders'] = df['borders'].fillna(0)
print(df['borders'].isnull().sum())

0

In [83]:
df[df['Interest Rate'].isnull()]

,name,currency,capital,languages,latitude,longitude,area,region,subregion,borders,GDP,GDP Growth,Interest Rate,Inflation Rate,Jobless Rate,Gov. Budget,Debt/GDP,Current Account,Population
3,Puerto Rico,United States dollar,San Juan,English,18.250000,-66.500000,8870.00,Americas,Caribbean,0,126,0.187895,NaN,1.20,5.70,NaN,NaN,NaN,3.20
21,Liechtenstein,Swiss franc,Vaduz,German,47.266667,9.533333,160.00,Europe,Western Europe,"['AUT', 'CHE']",8,0.350000,NaN,0.20,1.60,NaN,NaN,NaN,0.04
47,Somalia,Somali shilling,Mogadishu,Arabic,10.000000,49.000000,637657.00,Africa,Eastern Africa,"['DJI', 'ETH', 'KEN']",12,2.387000,NaN,4.40,NaN,NaN,NaN,NaN,19.01
65,Turkmenistan,Turkmenistan manat,Ashgabat,Russian,40.000000,60.000000,488100.00,Asia,Central Asia,"['AFG', 'IRN', 'KAZ', 'UZB']",64,1.990417,NaN,5.50,4.19,0.8,4.60,5.9,7.49
81,Syria,Syrian pound,Damascus,Arabic,35.000000,38.000000,185180.00,Asia,Western Asia,"['IRQ', 'ISR', 'JOR', 'LBN', 'TUR']",20,1.990417,NaN,15.87,13.00,-11.4,30.01,-0.9,24.67
116,Monaco,Euro,Monaco,French,43.733333,7.400000,2.02,Europe,Western Europe,['FRA'],10,0.350000,NaN,NaN,NaN,NaN,NaN,NaN,0.04
125,Eritrea,Eritrean nakfa,Asmara,Arabic,15.000000,39.000000,117600.00,Africa,Eastern Africa,"['DJI', 'ETH', 'SDN']",2,2.387000,NaN,9.00,5.60,-3.4,164.00,12.4,3.21
129,Montenegro,Euro,Podgorica,Montenegrin,42.500000,19.300000,13812.00,Europe,Southeast Europe,"['ALB', 'BIH', 'HRV', 'UNK', 'SRB']",8,0.350000,NaN,4.50,9.13,0.2,60.30,-17.5,0.62
137,Palestine,Egyptian pound,Ramallah,Arabic,31.900000,35.200000,6220.00,Asia,Western Asia,"['ISR', 'EGY', 'JOR']",14,1.990417,NaN,59.35,28.60,0.5,30.70,-21.1,5.61
161,Cayman Islands,Cayman Islands dollar,George Town,English,19.313300,-81.254600,264.00,Americas,Caribbean,0,7,0.187895,NaN,1.80,2.80,-1.1,7.60,-7.7,0.09
169,Kosovo,Euro,Pristina,Albanian,42.666667,21.166667,10908.00,Europe,Southeast Europe,"['ALB', 'MKD', 'MNE', 'SRB']",11,0.350000,NaN,4.30,10.80,0.2,16.90,-9.0,1.60

In [95]:
df['Interest Rate'] = df.groupby('region')['Interest Rate'].transform(lambda x: x.fillna(x.mean()))
print(df['Interest Rate'].isnull().sum())

0

In [25]:
df.loc[df['Population'].idxmax(),['name','Population']]

name           China
Population    1408.0
Name: 108, dtype: object

In [27]:
df.loc[df['Population'].idxmin(),['name','Population']]

name          Liechtenstein
Population             0.04
Name: 21, dtype: object

In [31]:
df.loc[df['area'].idxmax(),['name','area']]

name        Russia
area    17098242.0
Name: 14, dtype: object

In [33]:
df.loc[df['area'].idxmin(),['name','area']]

name    Monaco
area      2.02
Name: 116, dtype: object

In [37]:
currency_counts = df['currency'].value_counts()
multi_countries_currency = currency_counts[currency_counts > 1]
print(multi_countries_currency)

currency
Euro                         23
West African CFA franc        7
Central African CFA franc     6
United States dollar          4
Swiss franc                   2
Egyptian pound                2
Name: count, dtype: int64

In [99]:
df.loc[df['GDP'].idxmax(),['name','GDP']]

name    United States
GDP             29185
Name: 4, dtype: object

In [103]:
df.loc[df['GDP'].idxmin(),['name','GDP']]

name    Burundi
GDP           2
Name: 22, dtype: object

In [ ]:
# Summary
# Identified Missing Values:

# Checked all columns for missing values and their counts.

# Observed that some columns like GDP Growth and Interest Rate had more missing values than others.

# Recognized special cases, e.g., capital is missing for Macau because it has no official capital.

# Handled Missing Values:

# For Borders, replaced all missing values with 0 since islands or countries with no borders are valid cases.

# For GDP, filled missing values using the mean GDP of the corresponding Region.

# For Interest Rate, filled missing values using the mean Interest Rate of the corresponding Region.

# Decided to leave other small missing values (like Jobless Rate for 2 countries) as is, because they were minimal.

# Exploratory Analysis Ideas:

# Suggested descriptive, comparative, and economic analysis questions for the dataset.

# Example questions include: “Which country has the highest population?”, “Which regions have the most missing GDP values?”, “Which currency is used in multiple countries?”, etc.

# Prepared for Future Analysis:

# Cleaned the dataset and ensured numeric columns are properly imputed for meaningful analysis.